::-webkit-scrollbar {
	display: none;
}

:root {
	/* --mellowYellow: rgb(241, 218, 4);
	--beanGreen: rgb(37, 37, 37);
	--madRed: rgb(255, 0, 0);
	--jackBlack: rgb(0, 0, 0); */
	/* --defaultBorder: 3px solid var(--jackBlack);
	--defaultBorderRadius: 6px;
	--mysteryColor: rgba(0, 0, 0, 0.164);
	--slidersPaddingMult: 1;
	--textSizeMult: 0.65;
	--btnImgSizeMult: 1;
	--primeBtnPaddingMult: 1; */
}
